commons/.classpath
commons/.project
commons/.settings/
commons/target/

dist/target/

engine/.classpath
engine/.project
engine/.settings/
engine/target/

modules/.classpath
modules/.project
modules/.settings/
modules/target/